/* General styles */

body {
  font-family: sans-serif;
}

h2, h3 {
  font-weight: normal;
}

h1, h2, h3 {
  text-align: center;
}

h1, h3 {
  color: #1f8d58;
}

/* h2 {

  color: #52C08B;

} */

section {
  overflow: hidden;
}

p {
  /* Uses the margin trick to center */
  margin: 10px auto;
  /*Sets a line height for the paragraphs*/
  line-height: 1.4;
  /* Styles for smaller screens */
  max-width: 100%;
}

button {
  background-color: #1f8d58;
  border: none;
  font-size: 14px;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
}

button:hover {
  background-color: #52C08B;
}

/* Headline and byline styles */

h1.headline {
  margin-bottom: 0px;
}

h2.byline {
  margin-top: 0px;
  margin-bottom: 5px;
}

/* Character image styles */

img.lunaImage, img.lucyImage {
  /* Styles for smaller screens */
  width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

/* Styles for tablets */

@media screen and (min-width: 600px) and (max-width: 1023px) {
  p {
    width: 75%;
  }
  img.bannerImage {
    width: 600px;
  }
  img.lunaImage, img.lucyImage {
    width: 600px;
  }
}

/* Styles for desktop screens */

@media screen and (min-width: 1024px) {
  p {
    max-width: 600px;
  }
  img.bannerImage {
    width: 600px;
  }
  img.lunaImage, img.lucyImage {
    float: right;
    width: 300px;
    margin-right: 300px;
    margin-left: 10px;
  }
}